@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid {
  background-size: 7.5%;
}


.bg-blobs {
  background-image: url('../../public/blobs.png');
  background-size: cover;
}

.light .bg-grid {
  background-image: url('../../public/grid-light.svg');
}

.dark .bg-grid {
  background-image: url('../../public/grid-dark.svg');
}
